body {
    position: relative;
    overflow-x: hidden;
}

article>div {
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
    padding: 100px 8%;
}

article>div>:first-child {
    margin-bottom: 40px;
}

article>div>:first-child p {
    margin-top: 10px;
}

/*design*/
main,
main>div {
    position: relative;
}

main>div>:first-child {
    width: 100%;
    height: 500px;
    overflow: hidden;
}

main>div>:first-child img {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

main>div>:nth-child(2) {
    width: 400px;
    position: absolute;
    bottom: -50px;
    right: 0px;
    z-index: 2;
    overflow-x: hidden;
}

main>div>:nth-child(2) img {
    width: 600px;
}

main>div>:last-child {
    width: 100%;
    height: 100%;
    text-align: center;
    color: white;
    background: linear-gradient(rgba(0, 0, 0, 0.2) 40%, rgba(0, 0, 0, 0.9) 80%);
    position: absolute;
    top: 0;
    left: 0;
}

main>div>:last-child>div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 1000px;
}

main>div>:last-child>div h4 span {
    font-weight: 300;
}

main>div>:last-child>div h1 {
    margin: 0 0 15px;
    font-family: 'Cabin', sans-serif; 
}

main>:first-child>:last-child>div h2 {
    color: rgb(68, 162, 215);
}

main>:first-child>:last-child>div h2 span {
    color: white;
    font-size: 1rem;
    font-weight: 300;
}

main>:first-child>:last-child>div p:last-of-type {
    margin: 8px 0 0;
}

.information>div>:first-child {
    width: 100%;
    margin-bottom: 40px;
}

.information>div>:first-child > div {
    justify-content: center;
    margin: 0px auto 50px; 
}

.information>div>:first-child > div button{
    cursor: pointer;
}

.information>div>:first-child > div button:first-of-type{
    border: 1px solid #222;
    margin-right: 10px;
}

.information>div>:nth-child(2) {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

.information>div>:nth-child(2) table {
    width: 100%;
    margin: 10px 0;
}

.information>div>:nth-child(2) table tr td {
    text-align: left;
    padding: 15px 10px;
    font-size: 0.8rem;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.information>div>:nth-child(2) tr td:first-of-type {
    background-color: #f3f3f3;
    font-weight: bold;
    width: 30%;
}

.information>div>:nth-child(3) {
    width: 100%;
    max-width: 370px;
}

.information>div>:nth-child(3)>:first-child {
    margin: 30px 0 0;
}

.information>div>:nth-child(3)>:first-child section {
    width: 100%;
    display: flex;
    margin: 5px 0;
}

.information>div>:nth-child(3)>:first-child section img {
    filter: invert(1);
    width: 50px;
    margin-right: 20px;
}

.information>div>:nth-child(3)>:first-child section p {
    margin: auto 0;
    font-weight: bold;
    text-align: left;
}

.information>div>:nth-child(3):last-child button {
    cursor: pointer;
    width: 48%;
}

.information>div>:nth-child(3)>:last-child button:first-of-type {
    border: 1px solid #222;
}

.color>div>:nth-child(2)>div {
    width: 100%;
    position: relative;
}

.color>div>:nth-child(2)>div .carColor-slide>div img {
    width: 100%;
    margin-bottom: 50px;
}

.color-arrows {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: absolute;
    left: 0;
    top: 60px;
}

.color-arrows button {
    background: none;
    padding: 0px;
    cursor: pointer;
    opacity: 0.3;
}

.color-arrows button:hover {
    opacity: 0.8;
}

.color-arrows button img {
    width: 30px;
    height: 30px;
    margin: auto;
}

.color-arrows button:first-of-type img {
    transform: rotate(-180deg);
}

.carColor-slide .slick-dots {
    width: 40%;
    max-width: 300px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    position: unset;
}

.carColor-slide .slick-dots>li {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: block;
}

.carColor-slide .slick-dots>li>button::before {
    content: "";
    width: 30px;
    height: 30px;
    border-radius: 50%;
    transition: 0.8s;
}

.carColor-slide .slick-dots>li:first-of-type {
    background-color: white;
    border: 1px solid #ccc;
}

.carColor-slide .slick-dots>li:nth-of-type(2) {
    background-color: rgb(209, 198, 185);
}

.carColor-slide .slick-dots>li:last-of-type {
    background-color: #696eaa;
}

.carColor-slide .slick-dots>li:first-of-type>button::before {
    background: #ddd;
}

.carColor-slide .slick-dots>li:nth-of-type(2)>button::before {
    background: rgb(148, 138, 126);
}

.carColor-slide .slick-dots>li:last-of-type>button::before {
    background: #2d2f4d;
}

.color>div>:nth-child(2) div>p {
    color: #555;
}

.color>div>:nth-child(2)>:first-child p {
    margin-bottom: 50px;
}

.color>div>:nth-child(2)>:nth-child(2) {
    text-align: left;
    width: 100%;
}

.color>div>:nth-child(2)>:nth-child(2)>div {
    width: 100%;
}

.color>div>:nth-child(2)>:nth-child(2)>div h2 {
    padding: 15px 0;
}

.color>div>:nth-child(2)>:nth-child(2)>div section {
    width: 100%;
}

.color>div>:nth-child(2)>:nth-child(2)>:first-child section div {
    position: relative;
    width: 100%;
    height: 300px;
    overflow: hidden;
}

.color>div>:nth-child(2)>:nth-child(2)>:first-child section img {
    width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.color>div>:nth-child(2)>:nth-child(2)>:first-child section:last-of-type img {
    width: 400px;
}

.color>div>:nth-child(2)>:nth-child(2)>:nth-child(2) {
    max-width: 490px;
    margin: 0 auto;
}

.color>div>:nth-child(2)>:nth-child(2)>:nth-child(2) section {
    margin-bottom: 40px;
}

.color>div>:nth-child(2)>:nth-child(2)>:nth-child(3) {
    max-width: 490px;
    margin: 0 auto;
}

.color>div>:nth-child(2)>:nth-child(2)>div>:first-child {
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
}

.color>div>:nth-child(2)>:nth-child(2)>div>:first-child img {
    width: 20px;
    height: 20px;
    margin: auto 0;
    cursor: pointer;
}

.color>div>:nth-child(2)>:nth-child(2)>div .effic-con section h3 {
    background-color: #eee;
    padding: 10px 5px;
    margin-bottom: 15px;
}

.color>div>:nth-child(2)>:nth-child(2)>div .effic-con section>div {
    margin: 15px 0;
}

.color>div>:nth-child(2)>:nth-child(2)>div .effic-con section>div h4 {
    margin-bottom: 5px;
    font-size: 0.9rem;
}

.color>div>:nth-child(2)>:nth-child(2)>div .effic-con ul {
    margin-top: 30px
}

.color>div>:nth-child(2)>:nth-child(2)>div .effic-con ul li {
    color: #777;
    margin: 8px 0;
}

.brand>div>:first-child {
    width: 100%;
}

.brand>div>:nth-child(2) {
    max-width: 440px;
    margin: 0 auto;
}

.brand>div>:nth-child(2)>div:first-of-type {
    margin-bottom: 15px;
}

.brand>div>:nth-child(2)>div img {
    width: 100%;
}

.brand>div>:nth-child(2)>div >div {
    padding: 20px 0;
}

.brand>div>:nth-child(2)>div div h2 {
    margin-bottom: 8px;
    font-size: 1rem;
}

.brand>div>:nth-child(3) {
    max-width: 420px;
    margin: 0 auto;
}

.brand>div>:nth-child(3)>:nth-child(2) {
    position: relative;
    overflow: hidden;
}

.brand>div>:nth-child(3)>:nth-child(2) img {
    width: 100%;
    transition: 0.3s;
}

.brand>div>:nth-child(3)>:nth-child(2) img:hover {
    transform: scale(1.1);
}

.brand>div>:nth-child(3)>:nth-child(2) img:first-of-type {
    width: 20%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.option>div>:nth-child(2) {
    position: relative;
}

.option>div>:nth-child(2)>img {
    width: 100%;
    margin: 50px 0;
}

.option>div>:nth-child(2) div section {
    position: relative;
}

.option>div>:nth-child(2) div section div {
    overflow: hidden;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    border: 1px solid white;
    position: relative;
    cursor: pointer;
}

.option>div>:nth-child(2) div section div img {
    width: 150%;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.option>div>:nth-child(2) div section p {
    font-weight: bold;
    color: #ccc;
    opacity: 0;
    background-color: white;
    text-transform: uppercase;
    position: absolute;
    width: 100%;
    bottom: 0;
}

.option-pop section {
    width: 84%;
    max-width: 490px;
    background-color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 70;
    display: flex;
    justify-content: space-between;
}

.option-pop section div:first-of-type {
    overflow: hidden;
}

.option-pop section div img {
    width: 100%;
    transition: 0.5s;
}

.option-pop section div img:hover {
    transform: scale(1.1);
}

.option-pop section>:last-child {
    padding: 30px 5% 0;
    text-align: left;
}

.option-pop section>:last-child h1 {
    font-size: 1.2rem;
}

.option-pop section>:last-child p {
    margin-top: 20px;
}

.option-pop section button {
    border: 1px solid #222;
    padding: 5px 15px;
    margin: 80px 0 30px;
    transition: 0.3s;
    cursor: pointer;
    float: right;
}

.option-pop section button:hover {
    background-color: #222;
    color: white;
}

.option-active {
    margin-top: 10px;
    color: #222;
    opacity: 1;
    transition: 0.3s;
}

.option-pop {
    display: none;
}

#option1,
#option2,
#option3,
#option4,
#option5 {
    display: none;
}

.option-pop> :last-child {
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 50;
}

.feature>div>:first-child {
    margin-bottom: 50px;
}

.feature>div>:last-child section {
    width: 100%;
    border: 1px solid #ccc;
    margin: 10px 0;
    background-color: white;
}

.feature>div>:last-child section>:first-child {
    overflow: hidden;
}

.feature>div>:last-child section>:first-child img {
    width: 100%;
    transition: 0.3s;
}

.feature>div>:last-child section>:first-child img:hover {
    transform: scale(1.1);
}

.feature>div>:last-child section>:last-child {
    padding: 20px 5% 50px;
}

.feature>div>:last-child section>:last-child p:first-of-type {
    color: rgb(68, 162, 215);
    font-family: 'Cabin', sans-serif;
    font-weight: bold;
}

.feature>div>:last-child section>:last-child h2 {
    margin: 5px 0 20px;
}

.accessories>div>:first-child h1 {
    font-family: 'Cabin', sans-serif;
}

.accessories>div>:nth-child(2) {
    width: 100%;
    height: 100%;
    display: flex;
}

.accessories>div>:nth-child(2) section {
    height: 300px;
    flex: 1;
    transition: 1s;
    position: relative;
    color: white;
}

.accessories>div>:nth-child(2) section:hover {
    flex: 4;
}

.accessories>div>:nth-child(2) section>:first-child {
    width: 100%;
    height: 100%;
}

.accessories>div>:nth-child(2) section:first-of-type>:first-child {
    background: url("image/purchase-accessories1.jpg") no-repeat;
    background-position: center right;
    background-size: cover;
}

.accessories>div>:nth-child(2) section:nth-of-type(2)>:first-child {
    background: url("image/purchase-accessories2.jpg") no-repeat;
    background-position: center right;
    background-size: cover;
}

.accessories>div>:nth-child(2) section:nth-of-type(3)>:first-child {
    background: url("image/purchase-accessories3.jpg") no-repeat;
    background-position: center right;
    background-size: cover;
}

.accessories>div>:nth-child(2) section:last-of-type>:first-child {
    background: url("image/purchase-accessories4.jpg") no-repeat;
    background-position: center right;
    background-size: cover;
}

.accessories>div>:nth-child(2) section>:last-child {
    width: 80%;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    text-align: left;
}

/* laptop 1366px*/

@media screen and (min-width: 1366px) {

    article>div {
        padding: 120px 0;
    }

    main>div>:first-child {
        height: 600px;
    }
    
    main>:first-child>:first-child img {
        height: 600px;
    }

    main>:first-child>:nth-child(2) {
        width: 900px;
    }

    main>:first-child>:nth-child(2) img {
        width: 900px;
    }

    main>:first-child>:last-child>div {
        text-align: left;
    }

    main>:first-child>:last-child>div h1 {
        font-size: 3rem;
    }

    main>:first-child>:last-child>div h2 {
        font-size: 2rem;
    }

    .information>div>:nth-child(2){
        margin: 0;
    }

    .information>div>:nth-child(2) table {
        width: 290px;
        margin: 0;
    }

    .information>div>:nth-child(3)>:first-child {
        margin: 30px auto;
    }

    .information>div>:nth-child(3)>:first-child section {
        margin: 10px 0;
    }

    .information>div>:last-child{
        width: 250px;
        margin: 40px auto 0; 
    }

    .information>div>:last-child button{
        padding: 10px 30px;
        cursor: pointer;
    }

    .information>div>:last-child button:first-of-type{
        border: 1px solid #222;
    }

    .color>div>:nth-child(2)>:nth-child(2)>:first-child>div {
        padding: 30px 0;
    }

    .color>div>:nth-child(2)>:nth-child(2)>:first-child section {
        width: 330px;
    }

    .color>div>:nth-child(2)>:nth-child(2)>:nth-child(2) {
        margin: 0;
    }

    .color>div>:nth-child(2)>:nth-child(2)>:nth-child(3) {
        margin: 0;
    }

    .color-arrows {
        top: 200px;
    }

    .color-arrows button img {
        width: 70px;
        height: 70px;

    }

    .carColor-slide .slick-dots>li {
        width: 70px;
        height: 70px;
    }

    .carColor-slide .slick-dots>li>button::before {
        width: 70px;
        height: 70px;
    }

    .color>div>:nth-child(2)>:nth-child(2)>:nth-child(2) {
        margin-bottom: 0px;
    }

    .color>div>:nth-child(2)>:first-child p {
        font-weight: bold;
    }

    .brand>div>:first-child {
        order: 1;
    }

    .brand>div>:nth-child(2) {
        order: 3;
        margin: 0;
    }

    .brand>div>:nth-child(3) {
        order: 2;
        text-align: left;
        position: relative;
        margin: 0;
    }

    .brand>div>:nth-child(3)>div h1 {
        color: rgb(68, 162, 215);
        font-size: 1.5rem;
    }

    .brand>div>:nth-child(3)>div h1::after {
        content: "";
        width: 150px;
        height: 3px;
        background-color: rgb(68, 162, 215);
        position: absolute;
        top: 23px;
        right: -170px;
        z-index: 1;
    }

    .brand>div>:nth-child(3)>div p {
        margin: 30px 0;
    }

    .option-pop section>:last-child h1 {
        font-size: 1.2rem;
    }

    .detail>div>:first-child {
        margin: 0;
    }

    .detail>div>:last-child {
        margin: 0;
    }

    .option>div>:nth-child(2)>img {
        margin-bottom: 0;
    }

    .option>div>:nth-child(2) div section div {
        width: 100px;
        height: 100px;
        border: 3px solid white;
        transition: 0.3s;
    }

    .option>div>:nth-child(2) div section div:hover {
        border: 5px solid white;
    }

    .option>div>:nth-child(2) div section:first-of-type {
        position: absolute;
        top: 40%;
        right: 52%;
    }

    .option>div>:nth-child(2) div section:nth-of-type(2) {
        position: absolute;
        bottom: 20%;
        right: 8%;
    }

    .option>div>:nth-child(2) div section:nth-of-type(3) {
        position: absolute;
        top: 3%;
        left: 30%;
    }

    .option>div>:nth-child(2) div section:nth-of-type(4) {
        position: absolute;
        top: 25%;
        left: 18%;
    }

    .option>div>:nth-child(2) div section:last-of-type {
        position: absolute;
        bottom: 0%;
        left: 50%;
    }

    .option>div>:nth-child(2) div section:last-of-type img {
        width: 250%;
    }

    .feature {
        background: linear-gradient(white 70%, #eee 70%);
    }

    .feature>div>:last-child section {
        width: 320px;
        margin: 0;
    }

    .accessories>div>:nth-child(2)>div section {
        height: 600px;
    }

    .accessories>div>:nth-child(2) section>:last-child {
        top: 50%;
    }

    .accessories>div>:nth-child(2) section>:last-child h3 {
        font-size: 1rem;
        margin: 10px 0 20px;
    }

}